@import '../../scss/plugins-styles/datepicker';

//override
.datepicker--cell.-selected-.-focus- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}

.datepicker--cell.-selected- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}

.-selected-.datepicker--cell-day.-other-month-.-range-from- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}

.datepicker--cell.-selected-.-range-from- {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.datepicker--cell.-selected-.-current-.-range-from- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.-range-from- a {
  background: $primary-gradient-color;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.datepicker--cell.-selected-.-range-to- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.datepicker--cell.-selected-.-range-to-.-focus- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}

.-range-to- a {
  background: $primary-gradient-color;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.datepicker--cell.datepicker--cell-day.-in-range- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}

.-current- a {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $color-white;
}

.datepicker--cell {
  height: 40px;
  width: 40px;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: $tertiary;
}

.datepicker--day-name {
  font-weight: bold;
  color: $primary;
  height: 40px;
  text-transform: none;
}

.datepicker--content {
  padding: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.datepicker--nav {
  border-bottom: 0;
  padding: 0;
}

.datepicker--nav-action {
  height: 24px;
  width: 24px;
  margin: 20px;
  font-family: $primary-icon-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: $primary;
}

.datepicker--nav-title {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
}

.datepicker {
  width: 318px;
  border-radius: 4px;
  border: 1px solid $tertiary;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: $quaternary;
}

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  border-top: 0;
}

.datepicker--button {
  display: none;
}

//Custom HTML
@mixin calendar-font {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.calendar {
  display: inline-block;
  @include calendar-font();
  text-transform: none;
  min-width: 320px;

  &__div-date {
    display: inline-block;
    position: relative;
  }

  &__button {
    @include calendar-font();
    color: $quaternary;
    margin: 15px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  &__button-select {
    color: $primary;
  }

  &__from-name {
    @include calendar-font();
    color: $primary-text;
    margin-bottom: 5px;
  }

  &__to-name {
    @include calendar-font();
    color: $primary-text;
    margin-bottom: 5px;
  }

  &__date {
    max-width: 134px;
    height: 42px;
    border: 1px solid $tertiary;
    border-radius: 4px;
    padding: 0;
    padding-left: 14px;
    margin-right: 16px;
    color: $secondary-text;
    font-size: 14px;
    cursor: pointer;

    &:focus {
      border-color: $quaternary;
    }

    &:hover {
      border-color: $quaternary;
    }

    &:focus + .calendar__label {
      color: $secondary-text;
    }

    &:hover + .calendar__label {
      color: $secondary-text;
    }
  }

  &__to {
    margin-right: 0;
  }

  &__label {
    font-family: $primary-icon-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    position: absolute;
    left: 116px;
    bottom: 9px;
    color: $primary;
  }

  &__plugin {
    margin-top: 5px;
    z-index: 2;
    position: absolute;
  }
}
