.button-arrow
{    
    position: relative;
    border-radius: 22px;
    border: 0;
    min-width: 44px;
    height: 44px;    
    min-width: 320px;
    width:100%;

    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    
    color: $color_white;
    background: $gradient-color;
}


@import '__span-icons/button-arrow__span-icons.scss';