.dropdown__div-cancel
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $color_purple;
    margin-left: 14px;
}