@import "./../../scss/general-colors.scss";
@import "./../../scss/normalize.scss";

@import "./../../fonts/Montserrat/stylesheet.scss";
@import "./../../fonts/Montserrat/material-icons.scss";

@import "./../../blockUI/search-room/search-room.scss";
@import "./../../blockUI/header/header.scss";
@import "./../../blockUI/footer/footer.scss";

.landing
{
    &__background
    {
        background-image: url("./img/landing.jpg");
        background-size: cover;
        height: 900px;
        padding-top: 70px;
        padding-left: 10%;
    }

    &__search-room
    {
        min-width: 320px;
        max-width: 380px;
    }

    @media(max-width: 495px)
    {
        &__background
        {
            padding-left: 0;
        }

        &__search-room
        {
            margin: 0 auto;
        }
    }
}