extends .\..\..\templates\common-temp\common-temp


include .\..\..\blockUI\search-room\search-room

block variables
    -title="Landing"
block content
    .landing
        .landing__background
            .landing__search-room
                +search-room({})