doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        title="Стилизация таблиц в CSS3"
        //-link(href="src/material-design/material-icons.css" rel="stylesheet")
        link(href="src/Montserrat/material-icons.css" rel="stylesheet")
        link(href="src/Montserrat/stylesheet.css" rel="stylesheet")
    body
        header
            include src\blockUI\button\button.pug
            include src\blockUI\button-border\button-border.pug
            include src\blockUI\button-arrow\button-arrow.pug
            include src\blockUI\checkbox\checkbox.pug
            +checkbox({label: ' Gena'},{label:'checkbox__label',input:'checkbox__input'})
            include src\blockUI\radio\radio.pug
            +radio()