doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        title="Стилизация таблиц в CSS3"
        //-link(href="src/material-design/material-icons.css" rel="stylesheet")
        link(href="src/Montserrat/material-icons.css" rel="stylesheet")
        link(href="src/Montserrat/stylesheet.css" rel="stylesheet")
    body
        header
            include src\blockUI\button\button.pug
            +button()
            include src\blockUI\button-border\button-border.pug
            include src\blockUI\button-arrow\button-arrow.pug
            include src\blockUI\checkbox\checkbox.pug
            +checkbox({input: 'st', label: 'Можно пригласить гостей', p: '(до 10 человек)'},{mod:''})
            +checkbox({input: 'st1', label: 'Можно пригласить гостей'},{mod:''})
            +checkbox({input: 'move', label: 'Получать спецпредложения'},{mod:'_move'})
            +checkbox({input: 'like', label: ''},{mod:'_like'})
            include src\blockUI\radio\radio.pug
            +radio()
            include src\blockUI\rate-stars\rate-stars.pug
            include src\blockUI\input-field\input-field.pug
            +input-field()
            include src\blockUI\check-list\check-list.pug
            +check-list()
            script(src="./../src/blockUI/check-list/check-list.js")