
.button-border {
    padding: 2px;
    height: 44px;
    min-width: 99px;
    border-radius: 22px;
    border: 0;
    background: $gradient-color;
}

.button-opacity[disabled]
{
    opacity: 0.5;
}

@import "src/blockUI/button-border/__span/button-border__span.scss";