.bullet-list {
    display: inline-block;
    min-width: 50px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);

    &__li {
        margin: 10px;
        display: flex;
    }

    &__before {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(31, 32, 65, 0.25);
        margin-right: 11px;
    }
}
