.information__span-content
{
    margin-top: 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: $cobalt-blue75;
}