.input-field {
  &__text {
    width: 100%;
    height: 44px;
    border: 1px solid $tertiary;
    border-radius: 4px;
    background: transparent;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    cursor: pointer;

    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $secondary-text;

    &:focus {
      border-color: $quaternary;
    }

    &:hover {
      border-color: $quaternary;
    }
  }
}
