@import './../../scss/general-colors.scss';
@import './../../scss/normalize.scss';
@import './../../scss/custom-set.scss';
@import '../../scss/general-fonts';

@import './../../fonts/Montserrat/stylesheet.scss';
@import './../../fonts/Material-icons/material-icons.scss';
@import './../../fonts/Quicksand/stylesheet.scss';

@import './../../blockUI/header/header.scss';
@import './../../blockUI/footer/footer.scss';

html,
body {
  min-height: 100px;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
