mixin radio({content="Мужчина", name= "group"})
        label(class="radio")
            input(class="radio__input" type="radio" name=name)
            .radio__label
            span(class="radio__span")=content
