mixin radio(content={input: 'radio', label:' Gena'}, style={input:'radio__input', label: 'radio__label'})
    input(class=style.input type="radio" id=content.input)
    label(class=style.label for=content.input)=content.label