mixin radio({content='Мужчина', name= 'group'})
    .radio
        label(class="radio__label-container")
            input(class="radio__input" type="radio" name=name)
            span.radio__label
        span(class="radio__span")=content
