@import "__input/radio__input.scss";
@import "__label/radio__label.scss";


.radio
{
    display: inline-flex;
    line-height: 0px;

    &__span
    {
        display: inline-flex;
        align-items: center;
        font-family: Montserrat, OpenSans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $cobalt-blue50;
        margin-left: 10px;

        &:hover
        {
            color: $cobalt-blue75;
        }
    }
}