mixin radio(content={input: 'radio', label:'Мужчина'}, style={input:'', label: ''})
    .radio__div
        input(class="radio__input" + style.input type="radio" id=content.input)
        label(class="radio__label" + style.label for=content.input)
            span(class="radio__span")=content.label
        