mixin radio({input= 'radio', label='Мужчина', group= 'group'})
    .radio
        input(class="radio__input" type="radio" id=input name=group)
        label(class="radio__label" for=input)
        span(class="radio__span")=label
        