.radio {
  display: flex;
  cursor: pointer;

  &:hover &__label {
    border-color: $primary;
  }

  &:hover &__span {
    color: $secondary-text;
  }

  &__input {
    display: none;
  }

  &__label {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 18px;
    min-height: 18px;
    min-width: 18px;
    border: 1px solid $tertiary;
    border-radius: 50%;

    &::after {
      content: none;
      display: inline-block;
      position: absolute;
      top: 9px;
      transform: translateY(-50%);
      left: 3px;
      height: 12px;
      width: 12px;
      min-height: 12px;
      min-width: 12px;
      border-radius: 50%;
      background: $primary-gradient-color;
    }

    .radio__input:checked + &::after {
      content: '';
    }
    .radio__input:checked + & {
      border-color: $primary;
    }

    &:hover + .radio__span {
      color: $secondary-text;
    }
  }

  .radio__input:checked ~ .radio__span {
    color: $secondary-text;
  }

  &__span {
    display: inline-flex;
    align-items: center;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $quaternary;
    margin-left: 10px;

  }
}
