include .\..\checkbox\checkbox.pug
mixin check-list(id='', ...items)
    .check-list
        .check-list__div-head
            span.check-list__span-text="Expandeble checkbox list"
            span.check-list__span-icons="keyboard_arrow_down"
        .check-list__div-list
            -var i=0;
            each item in items
                +checkbox({input: id+i, label: item},{mod:''})
                -i++