include .\..\checkbox\checkbox.pug
mixin check-list({id='', items=[]})
    .check-list
        input.check-list__checkbox(type="checkbox" id="input"+id)
        label.check-list__label(for="input"+id)="Expandeble checkbox list"
        .check-list__div-list
            -var i=0;
            each item in items
                +checkbox({input: id+i, contentHead: item})
                -i++