.button-arrow
{    
    &__span-icons
    {   
        position: absolute;
        top : 25%;
        right: 10px;
        font-size: 24px;
        line-height: 24px;

        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        align-items: center;
        text-align: center;

        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }


}