.checkbox {
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__input {
        display: none;
    }

    &__div-content {
        display: inline-block;
        margin-left: 10px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $cobalt-blue50;
    }

    &__label_move {
        position: relative;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        // line-height: 18px;
        color: $cobalt-blue25;

        &::before {
            content: "";
            display: inline-block;
            position: relative;
            height: 18px;
            width: 38px;
            min-height: 18px;
            min-width: 38px;
            border-radius: 10px;
            border: 1px solid $cobalt-blue25;
        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 4px;
            top: 0px;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: $cobalt-blue25;
            transition: 0.2s;
        }

        .checkbox__input:checked + &::after {
            left: 24px;
            background: $gradient-color;
        }
        .checkbox__input:checked + &::before {
            border-color: $color_purple;
        }
    }

    &__label {
        position: relative;
        color: $cobalt-blue25;
        line-height: 0px;

        &::before {
            content: "";
            display: inline-block;
            position: relative;
            height: 18px;
            width: 18px;
            min-height: 18px;
            min-width: 18px;
            border-radius: 4px;
            border: 1px solid $cobalt-blue25;
        }

        &::after {
            content: none;
            display: inline-block;
            position: absolute;
            left: 6px;
            top: 0px;
            height: 4px;
            width: 6px;
            border-left: 2px solid $color_purple;
            border-bottom: 2px solid $color_purple;
            transform: rotate(-45deg);
        }

        .checkbox__input:checked + &::after {
            content: "";
        }

        .checkbox__input:checked + &::before {
            border-color: $color_purple;
        }
    }
}
