mixin checkbox({contentHead= "Можно с питомцами", mode= ""})
    .checkbox
        label(class="checkbox__label-container"+mode)
            input.checkbox__input(type="checkbox")
            div(class="checkbox__label"+mode)
        .checkbox__div-content
            span(class="checkbox__span-head")=contentHead
