.checkbox {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: $quaternary;
  cursor: pointer;

  &:hover {
    color: $secondary-text;
  }

  &:hover .checkbox__label_move::after {
    background: $primary-gradient-color;
  }

  &:hover .checkbox__label_move {
    border-color: $primary;
  }

  &:hover .checkbox__label {
    border-color: $primary;
  }

  &__input {
    display: none;
  }

  &__content {
    display: inline-block;
    margin-left: 10px;

    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    .checkbox__input:checked ~ & {
      color: $secondary-text;
    }
  }

  &__label_move {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 38px;
    min-height: 18px;
    min-width: 38px;
    border-radius: 10px;
    border: 1px solid $tertiary;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 4px;
      top: 3px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: $tertiary;
      transition: 0.2s;
    }

    .checkbox__input:checked + &::after {
      left: 23px;
      background: $primary-gradient-color;
    }
    .checkbox__input:checked + & {
      border-color: $primary;
    }
  }

  &__label {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 18px;
    min-height: 18px;
    min-width: 18px;
    border-radius: 4px;
    border: 1px solid $tertiary;
    cursor: pointer;

    &::after {
      content: none;
      display: inline-block;
      position: absolute;
      left: 5px;
      top: 5px;
      height: 4px;
      width: 6px;
      border-left: 2px solid $primary;
      border-bottom: 2px solid $primary;
      transform: rotate(-45deg);
    }

    .checkbox__input:checked + &::after {
      content: '';
    }

    .checkbox__input:checked + & {
      border-color: $primary;
    }
  }
}
