mixin checkbox(content={label: ' Можно с питомцами'}, style={div: '', input: 'checkbox__input', label: 'checkbox__label'})
    input(class=style.input type="checkbox" id="checkbox")
    label(class=style.label for="checkbox")=content.label
    