@import './../../scss/general-colors.scss';
@import './../../scss/normalize.scss';
@import './../../scss/custom-set.scss';

@import './../../fonts/Montserrat/stylesheet.scss';
@import './../../fonts/Material-icons/material-icons.scss';
@import './../../fonts/Quicksand/stylesheet.scss';
@import './../../scss/general-fonts.scss';

@import './../../blockUI/header/header.scss';
@import './../../blockUI/footer/footer.scss';
@import './../../blockUI/footer/footer_end.scss';

.headers-footers {
  background-color: #e5e5e5;
  height: 1350px;

  &__header {
    margin-bottom: 30px;
  }

  &__header1 {
    margin-bottom: 30px;
  }

  &__footer {
    margin-bottom: 30px;
  }
}
