.radio__label
{
    
    &::before
    {
        content: "";
        display: inline-block;
        position: relative;
        top: 5px;
        height: 18px;
        width: 18px;
        border: 1px solid $cobalt-blue25;
        border-radius: 50%;
    }

    &::after
    {
        content: none;
        display: inline-block;
        position: absolute;
        top: 3px;
        left: 4px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: $gradient-color; 
    }

    .radio__input:checked + &::after
    {
        content: "";
    }

    .radio__input:checked + &::before
    {
        border-color: $color_purple;
    }
}