.radio__label
{
    position: relative;
    
    &::before
    {
        content: "";
        display: inline-block;
        position: relative;
        height: 18px;
        width: 18px;
        min-height: 18px;
        min-width: 18px;
        border: 1px solid $cobalt-blue25;
        border-radius: 50%;
    }

    &::after
    {
        content: none;
        display: inline-block;
        position: absolute;
        top: 4px;
        transform: translateY(-50%);
        left: 4px;
        height: 12px;
        width: 12px;
        min-height: 12px;
        min-width: 12px;
        border-radius: 50%;
        background: $gradient-color;
    }

    .radio__input:checked + &::after
    {
        content: "";
    }

    &:hover::after
    {
        content: "";
    }

    .radio__input:checked + &::before
    {
        border-color: $color_purple;
    }

    &:hover::before
    {
        border-color: $color_purple;
    }

    &:hover + .radio__span
    {
        color: $cobalt-blue75;
    }
}

.radio__input:checked ~ .radio__span
{
    color: $cobalt-blue75;
}