.rich-checkbox {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;

  &:hover &__label::before {
    border-color: $primary;
  }

  &__input {
    display: none;
  }

  &__div-content {
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;

    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $secondary-text;
  }

  &__span-head {
    font-weight: bold;
  }

  &__span-content {
    font-size: 12px;
    margin-top: 8px;
  }

  &__label {
    position: relative;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $tertiary;

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      height: 18px;
      width: 18px;
      border-radius: 4px;
      border: 1px solid $tertiary;
    }

    &::after {
      content: none;
      display: inline-block;
      position: absolute;
      left: 6px;
      top: 1px;
      height: 4px;
      width: 6px;
      border-left: 2px solid $primary;
      border-bottom: 2px solid $primary;
      transform: rotate(-45deg);
    }

    .rich-checkbox__input:checked + &::after {
      content: '';
    }

    .rich-checkbox__input:checked + &::before {
      border-color: $primary;
    }
  }
}
