mixin rich-checkbox({contentHead= "Можно с питомцами", content=""})
    label(class="rich-checkbox")
        .rich-checkbox__label-container
            input.rich-checkbox__input(type="checkbox")
            span.rich-checkbox__label
        .rich-checkbox__div-content
            span(class="rich-checkbox__span-head")=contentHead
            span(class="rich-checkbox__span-content")=content