@import "./../../scss/general-colors.scss";
@import "./../../../node_modules/normalize.css/normalize.css";
//fonts
@import "./../../fonts/Montserrat/stylesheet.css";
@import "./../../fonts/Montserrat/material-icons.css";
//blocks
@import "./../../blockUI/button/button.scss";
@import "./../../blockUI/button-border/button-border.scss";
@import "./../../blockUI/button-arrow/button-arrow.scss";
@import "./../../blockUI/checkbox/checkbox.scss";
@import "./../../blockUI/radio/radio.scss";
@import "./../../blockUI/rate-stars/rate-stars.scss";
@import "./../../blockUI/input-field/input-field.scss";
@import "./../../blockUI/check-list/check-list.scss";
@import "./../../blockUI/information/information.scss";
@import "./../../blockUI/iteration/iteration.scss";
@import "./../../blockUI/dropdown/dropdown.scss";
@import "./../../blockUI/bullet-list/bullet-list.scss";
@import "./../../blockUI/rich-checkbox/rich-checkbox.scss";
@import "./../../blockUI/comment/comment.scss";
@import "./../../blockUI/pagination/pagination.scss";
@import "./../../blockUI/slider/slider.scss";
@import "./../../scss/label.scss";
@import "./../../blockUI/subscribe-mail/subscribe-mail.scss";
@import "./../../blockUI/like-button/like-button.scss";




body
{
    background: $backg;
}

.form-elements
{
    &__div-buttons
    {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        
        display: inline-block;
        position: absolute;
        width: 218px;
        height: 195px;
        left: 979px;
        top: 231px;
    }

    &__div-button
    {    
        display: inline-block;
        position: absolute;
        width: 99px;
        height: 44px;
        left: 980px;
        top: 262px;
    }
    &__div-button-d
    {
        display: inline-block;
        position: absolute;
        width: 99px;
        height: 44px;
        left: 1098px;
        top: 262px;

        opacity: 0.5;
    }

    &__div-button-border
    {
        display: inline-block;
        position: absolute;
        // width: 99px;
        // height: 44px;
        left: 979px;
        top: 336px;
    }

    &__div-button-border-d
    {
        display: inline-block;
        position: absolute;
        width: 99px;
        height: 44px;
        left: 1098px;
        top: 336px;
        
        opacity: 0.5;
    }

    &__div-button-arrow
    {
        display: inline-block;
        position: absolute;
        width: 320px;
        height: 44px;
        left: 979px;
        top: 456px;
    }



    &__div-checkbox
    {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;

        display: inline-block;
        position: absolute;
        left: 587px;
        top: 143px;
    }

    &__div-checkbox1
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 174.56px;
    }

    &__div-checkbox2
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 205.12px;
    }

    &__div-checkbox3
    {
        display: inline-block;
        display: inline-block;
        position: absolute;
        width: 230px;
        left: 587px;
        top: 235.12px;
    }



    &__radio
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 313px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    &__radio1
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 339px;
    }

    &__radio2
    {
        display: inline-block;
        position: absolute;
        left: 705px;
        top: 339px;
    }



    &__checkbox-move
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 404.56px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    &__checkbox-move1
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 435.56px;
    }

    &__checkbox-move2
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 469.56px;
    }



    &__checkbox-like
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 534px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    &__checkbox-like1
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 565px;
    }

    &__checkbox-like2
    {
        display: inline-block;
        position: absolute;
        left: 637px;
        top: 565px;
    }



    &__rate-stars
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 625px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    &__rate-stars1
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 658px;
    }

    &__rate-stars2
    {
        display: inline-block;
        position: absolute;
        left: 727px;
        top: 658px;
    }



    &__check-list
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 1184px;
    }

    &__check-list1
    {
        display: inline-block;
        position: absolute;
        left: 140px;
        top: 1248px;
    }



    &__input-field
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 143px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__input-field1
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 163px;
    }

    &__input-field2
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 227.44px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__input-field3
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 247.44px;
    }

    &__input-field4
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 712px;;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__input-field5
    {
        display: inline-block;
        position: absolute;
        width: 265px;
        height: 44px;
        left: 141px;
        top: 732px;
    }

    &__input-field6
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 398px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__input-field7
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 418px;
    }



    &__information
    {
        display: inline-block;
        position: absolute;
        left: 140px;
        top: 1567px;
    }

    &__information1
    {
        display: inline-block;
        position: absolute;
        left: 140px;
        top: 1656px;
    }



    &__dropdown
    {
        display: inline-block;
        position: absolute;
        left: 979px;
        top: 876px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__dropdown1
    {
        display: inline-block;
        position: absolute;
        left: 979px;
        top: 896px;
    }

    &__dropdown2
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 876px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__dropdown3
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 896px;
    }

    &__dropdown4
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 311.44px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__dropdown5
    {
        display: inline-block;
        position: absolute;
        left: 141px;
        top: 331.44px;
    }



    &__bullet-list
    {
        display: inline-block;
        position: absolute;
        left: 979px;
        top: 1196px;

        font-family: Montserrat, OpenSans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__bullet-list1
    {
        display: inline-block;
        position: absolute;        
        width: 280px;
        left: 969px;
        top: 1215px;
    }




    &__checkbox-rich
    {
        display: inline-block;
        position: absolute;
        left: 587px;
        top: 1196px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__checkbox-rich1
    {
        display: inline-block;
        position: absolute;
        width: 230px;
        left: 587px;
        top: 1227px;
    }

    &__checkbox-rich2
    {
        display: inline-block;
        position: absolute;
        width: 260px;
        left: 587px;
        top: 1289px;
    }

    &__comment
    {
        display: inline-block;
        position: absolute;
        width: 710px;
        left: 587px;
        top: 1573px;
    }

    
    
    &__pagination
    {
        display: inline-block;
        position: absolute;
        left: 980px;
        top: 540px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__pagination1
    {
        display: inline-block;
        position: absolute;
        left: 980px;
        top: 571.44px;
    }



    &__slider
    {
        display: inline-block;
        position: absolute;
        left: 979px;
        top: 143.44px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__slider1
    {
        display: inline-block;
        position: absolute;
        width: 265px;
        left: 984px;
        top: 140.44px;
    }

    

    &__label
    {
        display: inline-block;
        position: absolute;
        width: 40px;
        height: 40px;
        left: 30px;
        top: 30px;
        @include label;
    }
}