.pagination {
  width: 241px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: $quaternary;

  & a:focus{
    outline: 1px solid #666;
  }

  &__page {
    display: inline-flex;
    justify-content: flex-start;

    &-all {
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &-a {
        color: $quaternary;
        text-decoration: none;
      }
    }

    &-1 {
      border-radius: 50%;
      background: $primary-gradient-color;
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &-a {
        color: $color-white;
        text-decoration: none;
      }
    }

    &-6 {
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-family: $primary-icon-font;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

      &-a {
        color: $secondary;
        text-decoration: none;
      }
    }
  }

  &__variant {
    font-size: 14px;
    color: $secondary-text;
  }
}
