.pagination {
  width: 241px;
  font-family: Montserrat, OpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: $cobalt-blue50;

  &__page {
    display: inline-flex;
    justify-content: flex-start;

    &-all {
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &-a {
        color: $cobalt-blue50;
        text-decoration: none;
      }
    }

    &-1 {
      border-radius: 50%;
      background: $gradient-color;
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &-a {
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-6 {
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-family: 'Material Icons', OpenSans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

      &-a {
        color: $color_white;
        text-decoration: none;
      }
    }
  }

  &__variant {
    font-size: 14px;
    color: $cobalt-blue75;
  }
}
