mixin rate-stars({id=''})
    .rate-stars
        - var n = 5
        while n > 0
            input.rate-stars__input(name="rating"+id value=n id="rating_"+n+id type="radio")
            label.rate-stars__label(for="rating_"+n+id)
            - n--