.rate-stars__div
    input.rate-stars__input(name="rating" value="5" id="rating_5" type="radio")
    label.rate-stars__label(for="rating_5")
    input.rate-stars__input(name="rating" value="4" id="rating_4" type="radio")
    label.rate-stars__label(for="rating_4")
    input.rate-stars__input(name="rating" value="3" id="rating_3" type="radio")
    label.rate-stars__label(for="rating_3")
    input.rate-stars__input(name="rating" value="2" id="rating_2" type="radio")
    label.rate-stars__label(for="rating_2")
    input.rate-stars__input(name="rating" value="1" id="rating_1" type="radio")
    label.rate-stars__label(for="rating_1")