.dropdown__div-ready
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $cobalt-blue50;
    margin-right: 6px;
}