extends ./../../templates/common-temp/common-temp

include ./../../blockUI/registration-form/registration-form
include ./../../blockUI/entry-form/entry-form

block variables
    -title="Registration"
block content
    .registration
        .registration__background
            .registration__registration
                +registration({})
            .registration__entry-form
                +entry-form({})