.dropdown__div-items
{
    display:none;
    border-left: 1px solid $cobalt-blue50;
    border-right: 1px solid $cobalt-blue50;
    border-bottom: 1px solid $cobalt-blue50;
    border-radius: 0px 0px 4px 4px;
}
