@import './../subscribe-mail/subscribe-mail.scss';

.footer {
  background-color: $color_white;
  font-family: Montserrat, OpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $cobalt-blue50;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 372px;
    padding: 0 5%;
    padding-top: 104px;
  }

  &__label,
  &__navigation,
  &__about,
  &__support,
  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label > *,
  &__navigation > *,
  &__about > *,
  &__support > *,
  &__subscribe > * {
    margin-bottom: 20px;
  }

  &__label {
    min-width: 260px;
    width: 260px;
    line-height: 30px;

    &-label {
      @include label-text();
    }
  }

  &__support {
    margin: 0 20px;
  }

  &__subscribe {
    min-width: 260px;
    width: 260px;
  }

  &__text {
    line-height: 30px;
  }

  &__headers {
    font-weight: bold;
    font-size: 12px;
    color: $color_dark-shade;
    text-transform: uppercase;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 69px;
    border-top: 1px solid $cobalt-blue10;

    &-right {
      display: flex;
    }
  }

  &__twitter,
  &__facebook,
  &__instagram {
    display: block;
    background-size: 24px 24px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-left: 20px;
  }

  &__twitter {
    background-image: url('../../img/twitter.svg');
  }

  &__facebook {
    background-image: url('../../img/facebook.svg');
  }

  &__instagram {
    background-image: url('../../img/instagram.svg');
  }

  & a {
    text-decoration: none;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $cobalt-blue50;
  }

  @media (max-width: 1050px) {
    &__navigation {
      display: none;
    }
  }

  @media (max-width: 950px) {
    &__label {
      display: none;
    }
  }
}
