@import './../iteration/iteration.scss';

.comfort {
  min-width: 150px;
  width: 100%;
  position: relative;

  &__header {
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: $primary-text;
  }

  &__content {
    height: 42px;
    border: 1px solid $tertiary;
    border-radius: 4px 4px 4px 4px;
    display: flex;
    justify-content: space-between;
    background-color: $secondary;
    cursor: pointer;
  }

  &__content-border {
    border-radius: 4px 4px 0px 0px;
    border-color: $quaternary;
  }

  &__content:hover {
    border-color: $quaternary;
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 44px;

    font-family: 'Material Icons', OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: $secondary-text;

    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  &__items {
    display: none;
    border-left: 1px solid $quaternary;
    border-right: 1px solid $quaternary;
    border-bottom: 1px solid $quaternary;
    border-radius: 0px 0px 4px 4px;
    background-color: $secondary;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 20px;
  }

  &__items-display {
    position: absolute;
    z-index: 1;
    display: block;
  }

  &__ready {
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $quaternary;
    margin-right: 6px;
  }

  &__text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;

    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $secondary-text;
    margin-left: 14px;

    &:focus {
      outline: none;
    }
  }
}
