@import './../button/button.scss';
@import './../button-border/button-border.scss';
@import './../../scss/label.scss';

.header {
  &__nav-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    background: $color_white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding: 0 5%;
  }

  &__label {
    @include label-text;
  }

  &__menu {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $cobalt-blue50;
    text-transform: capitalize;

    &-compact {
      width: 100%;
      display: none;
      text-align: center;
    }
  }

  &__button-login {
    width: 79px;
  }
  &__button-login > button {
    height: 34px;
    width: 79px;
  }

  &__button-register > button {
    height: 34px;
  }

  &__line {
    width: 1px;
    height: 30px;
    border: none;
    background-color: $cobalt-blue10;
    margin: 0;
  }

  &__menu-dropdown {
    display: none;
    z-index: 10;

    &-item {
      text-decoration: none;
      font-family: Montserrat, OpenSans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: $cobalt-blue50;
      text-transform: capitalize;
    }

    &-buttons {
      display: none;
      width: 99px;

      & > div {
        height: 44px;
      }
    }
  }

  &__item {
    text-decoration: none;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $cobalt-blue50;
    text-transform: capitalize;
  }

  &__name-profile {
    display: none;
  }

  @media (max-width: 940px) {
    &__item {
      display: none;
    }

    &__menu-compact {
      display: block;
      font-family: Montserrat, OpenSans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: $cobalt-blue50;
      text-transform: capitalize;

      &-label {
        cursor: pointer;
      }

      &-check {
        display: none;

        &:checked ~ .header__menu-dropdown {
          position: absolute;
          display: flex;
          flex-direction: column;
          background-color: $color_white;
          left: 0;
          top: 70px;
        }
      }
    }

    &__menu {
      justify-content: flex-end;
    }

    &__line {
      display: none;
    }

    &__button-login {
      margin-right: 30px;
    }
  }

  @media (max-width: 500px) {
    &__menu {
      display: none;
    }

    &__menu-dropdown {
      &-buttons {
        display: block;
        width: 99px;
      }
    }
    &__name-profile {
      display: block;
    }
  }
}
