@import './../button/button.scss';
@import './../button-border/button-border.scss';
@import './../../scss/label.scss';

.header {
  &__nav-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    background: $secondary;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding: 0 5%;
  }

  &__label {
    @include label-text;
  }

  &__menu {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $quaternary;
    text-transform: capitalize;

    @media (max-width: 500px) {
      display: none;
    }

    @media (max-width: 940px) {
      & {
        justify-content: flex-end;
      }
    }

    &-compact {
      width: 100%;
      display: none;
      text-align: center;

      @media (max-width: 940px) {
        display: block;
        font-family: Montserrat, OpenSans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $quaternary;
        text-transform: capitalize;

        &-label {
          cursor: pointer;
        }

        &-check {
          display: none;

          &:checked ~ .header__menu-dropdown {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: $secondary;
            left: 0;
            top: 70px;
          }
        }
      }
    }
  }

  &__button-login {
    width: 79px;

    @media (max-width: 940px) {
      margin-right: 30px;
    }
  }

  &__button-login > button {
    height: 34px;
    width: 79px;
  }

  &__button-register > button {
    height: 34px;
  }

  &__line {
    width: 1px;
    height: 30px;
    border: none;
    background-color: $fivefold;
    margin: 0;

    @media (max-width: 940px) {
      display: none;
    }
  }

  &__menu-dropdown {
    display: none;
    z-index: 10;

    &-item {
      text-decoration: none;
      font-family: Montserrat, OpenSans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: $quaternary;
      text-transform: capitalize;
    }

    &-buttons {
      display: none;
      width: 99px;

      & > div {
        height: 44px;
      }

      @media (max-width: 500px) {
        display: block;
        width: 99px;
      }
    }
  }

  &__item {
    text-decoration: none;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $quaternary;
    text-transform: capitalize;

    @media (max-width: 940px) {
      display: none;
    }
  }

  &__name-profile {
    display: none;

    @media (max-width: 500px) {
      display: block;
    }
  }
}
