include .\..\input-field\input-field.pug
include .\..\button-arrow\button-arrow.pug
include .\..\button-border\button-border.pug

mixin entry-form
    .entry-form
        form.entry-form__form
            .entry-form__header="Войти"
            .entry-form__email
                +input-field({type: 'text', name: 'email', value: 'Email'})
            +input-field({type: 'password', name: 'pass',value: 'Пароль'})
            .entry-form__button
                +button-arrow({content: "Войти"})
        .entry-form__create-account
            span.entry-form__question="Нет аккаунта на Toxin?"
            .entry-form__create-button
                +button-border({content: "Создать"})
