include .\..\button\button.pug
include .\..\button-border\button-border.pug

mixin header-login
    -let items = ["home", "about", "services", "careers", "news", "documentation"]
    .header-login
        //- .header-login__left
            //- .header-login__menu-compact
        .header-login__label
        .header-login__menu-compact="menu"
        .header-login__menu
            each item in items
                div(class="header-login__item header-login__"+item)=item
            .header-login__button-login
                +button-border({content: "login"})
            .header-login__button-register
                +button({content: "register"})
