@import './../dropdown/dropdown';
@import './../button-arrow/button-arrow';
@import './../calendar/calendar';

@mixin calculate-price-font {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $cobalt-blue75;
}

.calculate-price {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    padding: 45px 0px 30px 0px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $color_white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    &__form {
        width: 320px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        color: $color_dark-shade;
        margin-bottom: 28px;
    }

    &__number {
        font-family: Quicksand, OpenSans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        width: 60px;
        border: 0;
    }

    &__lux {
        font-family: Montserrat, OpenSans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: $color_purple;
    }

    &__header-right {
        font-family: Montserrat, OpenSans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: $cobalt-blue50;
    }

    &__calendar {
        margin-bottom: 22px;
    }

    &__dropdown {
        margin-bottom: 18px;
    }

    &__days {
        @include calculate-price-font();
    }

    &__sale {
        @include calculate-price-font();
    }

    &__collect {
        @include calculate-price-font();
    }

    &__result {
        display: flex;
        justify-content: space-between;
        font-family: Quicksand, OpenSans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: $color_dark-shade;
        margin-top: 44px;
        margin-bottom: 20px;
    }

    &__button {
        height: 44px;
    }
}
