mixin slider({header})
  .slider.js-slider
    .slider__head
      .slider__header=header
      .slider__range-number.js-slider__range-number
    input(type="text" class="js-range-slider" name="my_range" value="")