include .\..\input-field\input-field.pug
include .\..\button-arrow\button-arrow.pug
include .\..\button-border\button-border.pug
include .\..\radio\radio.pug
include .\..\checkbox\checkbox.pug

mixin registration
    .registration-form
        form.registration-form__form
            .registration-form__header="Регистрация аккаунта"
            +input-field({type: "text", name: "name", value: "Имя"})
            .registration-form__surname
                +input-field({type: "text", name: "surname", value: "Фамилия"})
            +radio({content: "Мужчина", name: "group"})
            span.registration-form__woman
                +radio({content: "Женщина", name: "group"})
            .registration-form__date="Дата рождения"
            +input-field({type: "text", name: "born", value: "ДД.ММ.ГГГГ"})
            .registration-form__data-entry="Данные для входа в сервис"
            .registration-form__email
                +input-field({type: "text", name: "email", value: "Email"})
            .registration-form__pass
                +input-field({type: "password", name: "pass",value: "Пароль"})
            +checkbox({contentHead: "Получать спецпредложения", mode: "_move"})
            .registration-form__button
                +button-arrow({content: "Перейти к оплате"})
        .registration-form__create-account
            span.registration-form__question="Уже есть аккаунт на Toxin?"
            .registration-form__create-button
                +button-border({content: "Войти"})
