@import './../../templates/common-temp/common-temp';
@import './../../blockUI/information/information';
@import './../../blockUI/comment/comment';
@import './../../blockUI/bullet-list/bullet-list';
@import './../../blockUI/comment/comment';
@import './../../blockUI/calculate-price/calculate-price';



.current-room
{
    &__foto
    {
        display: flex;
        
        &-big
        {
            &-img
            {
                width: 100%;
                max-width: 981px;
                vertical-align: bottom;
            }
        }

        &-top
        {
            &-img
            {
                width: 100%;
                max-width: 459px;
                vertical-align: bottom;
            }
        }

        &-bottom
        {
            &-img
            {
                width: 100%;
                max-width: 459px;
                vertical-align: bottom;
            }
        }
    }

    &__description
    {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        color: $color_dark-shade;
        padding: 5% 5%;
        display: flex;
        flex-wrap: wrap;
    }

    &__info
    {
        display: flex;
        flex-wrap: wrap;
    }

    &__add-info
    {
        display: flex;
        flex-wrap: wrap;
    }

    &__add-info > div
    {
        margin-right: 50px;
    }

    &__comment
    {
        max-width: 650px;

        & > div
        {
            margin-bottom: 30px;
        }

        &-header
        {
            line-height: 50px;
        }
    }

    &__cancel
    {
        max-width: 250px;

        &-text
        {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: $cobalt-blue75;
        }
    }

    &__left > div
    {
        margin-bottom: 30px;
    }

    &__right
    {
        min-width: 380px;
    }

    &__headers
    {
        margin-bottom: 20px;
    }

    @media(max-width: 440px)
    {
        &__description
        {
            display: block;
            padding: 0;
        }

        &__left
        {
            margin: auto;
            max-width: 380px;
        }

        &__right
        {
            margin: auto;
            min-width: 320px;
            max-width: 380px;
        }

        &__add-info > div
        {
            margin-right: 0;
        }
    }
}