include .\..\iteration\iteration.pug

mixin dropdown({items=["Взрослые", "Дети", "Младенцы"], nameHeader = "Сколько гостей"})
    .dropdown.js-dropdown
        .dropdown__header=nameHeader
        .dropdown__content.js-dropdown__content
            input.dropdown__text.js-dropdown__text(value="Сколько гостей" readonly)
            .dropdown__icon="expand_more"
        .dropdown__items.js-dropdown__items
            each item in items
                +iteration({content: item})
            .dropdown__buttons
                .dropdown__cancel.js-dropdown__cancel
                .dropdown__ready.js-dropdown__ready="Применить"