.subscribe-mail {
  position: relative;
  display: flex;
  height: 44px;

  &__button {
    position: absolute;
    top: 1px;
    right: 1px;
    font-family: $primary-icon-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: $tertiary;
    width: 42px;
    height: 42px;
    border: 0;
    border-radius: 0 4px 4px 0;
    background: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #000;
      color: $primary;
      background: $fivefold;

      & ~ .subscribe-mail__text {
        border-color: $quaternary;
      }
    }
  }

  &__text {
    border: 1px solid $tertiary;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 100%;
    width: 100%;
    color: $secondary-text;
    padding-left: 14px;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: $quaternary;
    }
  }
}
