mixin subscribe-mail
  form.subscribe-mail(action="/mock-address/change-me")
    button.subscribe-mail__button(type="submit") arrow_forward
    input.subscribe-mail__text(type="email" placeholder="Email" )