mixin subscribe-mail
    form.subscribe-mail(method="post", action="#1", onsubmit="method")
        input.subscribe-mail__text(type="email" placeholder="Email" )
        button.subscribe-mail__button(type="submit") arrow_forward