mixin subscribe-mail
  form.subscribe-mail(action="/mock-address/change-me")
    input.subscribe-mail__text(type="email" placeholder="Email" )
    button.subscribe-mail__button(type="submit") arrow_forward