.checkbox__label 
{
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $cobalt-blue25;

    &::before
    {
        content: "";
        display: inline-block; 
        position: relative;
        top: 6px;  
        height: 18px;
        width: 18px;   
        border-radius: 4px; 
        border: 1px solid $cobalt-blue25; 
    }

    &::after 
    {
        content: none;
        display: inline-block;
        position: absolute;
        left: 6px;
        top: 6px;
        height: 5px;
        width: 7px;
        border-left: 2px solid;
        border-bottom: 2px solid; 
        border-color: $gradient-color;   
        transform: rotate(-45deg);
    }

    .checkbox__input:checked + &::after
    {
        content: "";
    }

    .checkbox__input:checked + &::before
    {
        border-color: $color_purple;
    }
}



