doctype html
html
  head
    title Index
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1 UI Kit
    ul
      li
        a(href="pages/form-elements.html") Form Elements
      li
        a(href="pages/cards.html") Cards
      li
        a(href="pages/test.html") Test
      li
        a(href="pages/headersAndFooters.html")="Headers & Footers"
    h1 Pages
    ul
      li
        a(href="pages/landing.html") Landing
      li
        a(href="pages/registration.html") Registration
      li
        a(href="pages/search.html") Search
      li
        a(href="pages/current-room.html") Current-room
        

