.filter-date {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  box-sizing: border-box;

  &__text {
    width: 100%;
    border: 1px solid $tertiary;
    border-radius: 4px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    color: $secondary-text;
    padding-left: 14px;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      border-color: $quaternary;
    }

    &:hover {
      border-color: $quaternary;
    }
  }

  &__arrow {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    right: 10px;
    background: transparent;
    cursor: pointer;

    font-family: $primary-icon-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: $quaternary;
  }
}
