$color_dark-shade: #1f2041;
$color_purple: #bc9cff;
$color-for-gradient: #6fcf97;
$color-blue: #8ba4f9;
$color_white: #ffffff;
$background-color: #e5e5e5;
$cobalt-blue25: rgba(31, 32, 65, 0.25);
$cobalt-blue50: rgba(31, 32, 65, 0.5);
$cobalt-blue75: rgba(31, 32, 65, 0.75);
$cobalt-blue10: rgba(31, 32, 65, 0.1);
$gradient-color: linear-gradient(180deg, $color_purple 0%, $color-blue 100%);
