$color-dark-shade: #1f2041; $primary-text: $color-dark-shade;
$color-purple: #bc9cff; $primary: $color-purple;
$color-white: #ffffff; $secondary: $color-white;
$cobalt-blue25: rgba(31, 32, 65, 0.25); $tertiary: $cobalt-blue25;
$cobalt-blue50: rgba(31, 32, 65, 0.5); $quaternary: $cobalt-blue50;
$cobalt-blue75: rgba(31, 32, 65, 0.75); $secondary-text: $cobalt-blue75;
$cobalt-blue10: rgba(31, 32, 65, 0.1); $fivefold: $cobalt-blue10;
$primary-gradient-color: linear-gradient(180deg, $color-purple 0%, #8ba4f9 100%);
