include \..\..\blockUI\calendar\calendar.pug
include \..\..\blockUI\search-room\search-room.pug
include .\..\..\blockUI\entry-form\entry-form.pug
include .\..\..\blockUI\registration\registration.pug

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        title="Cards"
    body
        .cards
            +calendar(1)
            .cards__search-room
                +search-room({})
            .cards__entry-form
                +entry-form({})
            .cards__registration
                +registration({})
            