include .\..\..\blockUI\calendar\calendar
include .\..\..\blockUI\search-room\search-room
include .\..\..\blockUI\entry-form\entry-form
include .\..\..\blockUI\registration-form\registration-form
include .\..\..\blockUI\calculate-price\calculate-price
include .\..\..\blockUI\present-room\present-room

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        title="Cards"
    body
        .cards
            .cards__calendar
                +calendar({})
            .cards__search-room
                +search-room({})
            .cards__entry-form
                +entry-form({})
            .cards__registration
                +registration({})
            .cards__calculate-price
                +calculate-price()
            .cards__present-room
                +present-room({img: ["1","2","3","4"], price: "9990", number: "880", comment: "65", countStar: 4})
            .cards__present-room1
                +present-room({img: ["1","2","3","4"], price: "9990", number: "880", comment: "65", countStar: 5})