@import "./../../scss/general-colors.scss";
@import "./../../scss/normalize.scss";

@import "./../../fonts/Montserrat/stylesheet.scss";
@import "./../../fonts/Montserrat/material-icons.scss";

@import "./../../blockUI/calendar/calendar.scss";
@import "./../../blockUI/search-room/search-room.scss";
@import "./../../blockUI/entry-form/entry-form.scss";
@import "./../../blockUI/registration-form/registration-form.scss";
@import "./../../blockUI/calculate-price/calculate-price.scss";
@import "./../../blockUI/present-room/present-room.scss";


.cards
{
    background: $backg;

    &__search-room
    {
        display: block;
        max-width: 380px;
        min-width: 320px;
    }

    &__entry-form
    {
        // display: none;
        max-width: 380px;
        min-width: 320px;
    }

    &__registration
    {
        // display: none;
        max-width: 380px;
        min-width: 320px;
    }

    &__calculate-price
    {
        // display: none;
        max-width: 380px;
        min-width: 320px;
    }
}