mixin iteration()
    .iteration
            div(class="iteration__div-name")="Количество гостей"
            .iteration__div-content
                button(class="iteration__button-min" disabled)="-"
                div(class="iteration__div-num")="0"
                button(class="iteration__button-plus")="+"
