@mixin iteration-font {
  font-family: Montserrat, OpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@mixin iteration-button {
  width: 30px;
  height: 30px;
  border: 1px solid $quaternary;
  border-radius: 15px;
  @include iteration-font;
  color: $quaternary;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    border-color: $tertiary;
    color: $tertiary;
    cursor: auto;
  }
}

.iteration {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__div-num {
    vertical-align: top;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $primary-text;
  }

  &__div-name {
    display: inline-flex;
    align-items: center;
    height: 30px;
    margin-left: 14px;

    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $primary-text;
  }

  &__div-content {
    margin-right: 6px;
  }

  &__button-plus {
    @include iteration-button;
  }

  &__button-min {
    @include iteration-button;
  }
}
