@mixin iteration-font
{
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@mixin iteration-button
{
    width: 30px;
    height: 30px;
    border: 1px solid $cobalt-blue50;
    border-radius: 15px;
    @include iteration-font;
    color:$cobalt-blue50;
    background-color: transparent;

    &[disabled]
    {
        border-color: $cobalt-blue25;
        color:$cobalt-blue25;
    }
}

.iteration
{
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__div-num
    {
        vertical-align: top;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        margin: -4px;
        font-family: Montserrat, OpenSans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $color_dark-shade;
    }

    &__div-name
    {
        display: inline-flex;
        align-items: center;
        height: 30px;
        margin-left: 14px;
    
        font-family: Montserrat, OpenSans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $color_dark-shade;
    }

    &__div-content
    {
        margin-right: 6px;
    }

    &__button-plus
    {
        @include iteration-button;
    }

    &__button-min
    {
        @include iteration-button;
    }
}


