mixin iteration({content= "Итератор"})
    .iteration
        div(class="iteration__div-name")=content
        .iteration__div-content
            button(class='iteration__button-min js-iteration__button-min' type="button" disabled)="-"
            div(class='iteration__div-num js-iteration__div-num')="0"
            button(class='iteration__button-plus js-iteration__button-plus' type="button")="+"
