mixin iteration()
    .iteration
        span(class="iteration__span-name")="Количество гостей"
        .iteration__div-content
            button(class="iteration__button-min" disabled)="-"
            div(class="iteration__span-num")="0"
            button(class="iteration__button-plus")="+"
