include \..\..\blockUI\calendar\calendar.pug

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
        title="Cards"
    body
        .cards
            input.input1(type="text")
            
            input.input2(type="text")
            
            input.input3(type="text")
            form(onsubmit="alert('submit!');return false")
                input.input3(type="text")
            button.button="gena"