include \..\..\blockUI\comfort\comfort


doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
        title="Cards"
    body
        .cards
            +comfort({})
        .cards__mode
            img(alt="Фото комнаты" src=require("./img/big.jpg").default)
        +comfort({})