.check-list__div-list
{
    opacity: 0;
    position: relative;
    margin-top: 10px;
}

.check-list__div-list div
{
    position: absolute;
    display: block;
    transform: 2s;
}

// .check-list__div-list input
// {
//     display: none;
// }